<div class="mx-auto max-w-4xl mt-44 mb-60">
  <div class="intro md:flex justify-between items-center">
    <div>
      <p>Hello 👋, I am </p>
      <div class="mt-4 mb-6">
        <h2 class="text-6xl font-light text-gray-900">Hemroda Martin.</h2>
        <h2 class="text-4xl font-light text-gray-700">
          I
          <span class="font-semibold text-gray-900">
            <a href="https://en.wikipedia.org/wiki/Create,_read,_update_and_delete" target="_blank">CRUD</a>
          </span> things on & for the web.
        </h2>
      </div>
      <p class="mb-2">
        A self-taught "full-🥩" developer based in Paris.
      </p>
      <p>Currently, I focus on the Ruby on Rails ecosystem.</p>
    </div>
    <div class="hidden md:w-64 md:flex justify-center md:justify-end">
      <%= image_tag("avatar.png", class: " max-auto") %>
    </div>
  </div>
  <!-- PROJECTS -->

  <!-- AROUND THE WEB -->
  <div class="mt-32">
    <h2 class="text-4xl font-light tracking-tight text-slate-900">Me around the web</h2>
    <div class="flex gap-x-6 mt-10">
      <%= link_to image_tag("gitlab.svg", alt: "Gitlab logo", width: "20",
                            class: "m-auto md:m-0 w-8 md:w-10 hover:p-0.5"), "https://gitlab.com/khaargal", target: "_blank" %>
      <%= link_to image_tag("github.svg", alt: "Github logo", width: "20",
                            class: "m-auto md:m-0 w-8 md:w-10 hover:p-0.5"), "https://github.com/hemroda", target: "_blank" %>
      <%= link_to image_tag("linkedin.svg", alt: "linkedin logo", width: "20",
                            class: "m-auto md:m-0 w-8 md:w-10 hover:p-0.5"), "https://www.linkedin.com/in/hemrodamartin/",
                  target: "_blank" %>
      <%= link_to image_tag("mastodon.svg", alt: "twitter logo", width: "20",
                            class: "m-auto md:m-0 w-8 md:w-10 hover:p-0.5"), "https://hachyderm.io/@hemroda", target: "_blank" %>
      <%= link_to image_tag("twitter.svg", alt: "twitter logo", width: "20",
                            class: "m-auto md:m-0 w-8 md:w-10 hover:p-0.5"), "https://twitter.com/hemroda", target: "_blank" %>
      <%#= link_to "/hemroda_martin.pdf", target: "_blank" do %>
        <%#= image_tag("file-text.svg", alt: "pdf resume", width: "20", class: "m-auto md:m-0 w-8 md:w-10 hover:p-0.5") %>
      <%# end %>
    </div>
  </div>
</div>