<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="md:mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag "logo_without_bg.png", alt: "Logo image", class: "mx-auto w-auto" %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
                          class: "mt-2 px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                                  ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                                  focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>
      <div class="field">
        <div class="flex items-center justify-between">
          <div>
            <%= f.label :password, class: "block text-sm font-medium leading-6 text-gray-900" %>
          </div>
          <% if @minimum_password_length %>
            <div><em>(<%= @minimum_password_length %> characters minimum)</em></div>
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password",
                             class: "mt-2 px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                                     ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                                     focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
                             class: "mt-2 px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                                     ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                                     focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign Up",
                     class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold
                     leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2
                     focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already a member?
      <a href="<%= new_user_session_path %>" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">
        Sign in to your account</a>
    </p>
  </div>
</div>
