<div class="mt-3 max-w-xl">
  <ul>
    <li id="<%= dom_id(task) %>" class="flex justify-between">
      <span class="flex justify-between <%= task.completed? ? 'line-through text-gray-500' : '' %>">
        <%= task.description %>
      </span>

      <span class="flex gap-2">
        <% if task.completed %>
      <%= button_to dashboard_task_path(task),
                    method: :patch,
                    params: { task: { completed: false } } do %>
        <%= heroicon "arrow-uturn-left", options: { class: "p-1 w-6 h-6 inline-block text-white bg-gray-600 rounded cursor-pointer",
                                                    disable_default_class: true } %>
      <% end %>
    <% else %>
      <%= button_to dashboard_task_path(task),
                    method: :patch,
                    params: { task: { completed: true } } do %>
       <%= heroicon "check-circle", options: { class: "p-1 w-6 h-6 inline-block text-white bg-blue-600 rounded cursor-pointer",
                                               disable_default_class: true } %>
      <% end %>
    <% end %>
        <%= button_to dashboard_task_path(task.id), method: :delete,
                      form: { data: { turbo_confirm: "Are you sure?" } } do %>
        <%= heroicon "x-circle", options: { class: "p-1 w-6 h-6 inline-block text-white bg-red-600 rounded cursor-pointer",
                                          disable_default_class: true } %>
        <% end %>
      </span>
    </li>
  </ul>
</div>
