<%= turbo_stream.append "tasks-list",
                        partial: "dashboard/tasks/task",
                        locals: { task: @task } %>

<%= turbo_stream.update "new-task",
                        partial: "dashboard/tasks/form",
                        locals: { task: Task.new } %>