<ul class="tasks" id="new-task">
  <%= render partial: "form", locals: { task: Task.new, users: @users } %>
</ul>
<ul id="tasks-list" class="tasks">
  <%= render partial: "dashboard/tasks/task", collection: @tasks %>
</ul>
