<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag "logo.png", alt: "Logo image", class: "mx-auto w-auto" %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Forgot your password?</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "space-y-6" }) do |f| %>
      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
                          class: "mt-2 px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                                  ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                                  focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions",
                     class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold
                             leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline
                             focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>
</div>
