<%= simple_form_for [:dashboard, technology], html: { class: "flex items-center max-w-xl" } do |f| %>
  <%= f.input :name,
              label: false,
              placeholder: "Enter technology name",
              wrapper_html: { class: "w-full" },
              input_html: {
                class: "form-field"
              }
  %>
  <%= f.button :submit, class: "submit-btn ml-2" %>
<% end %>
