<div class="mt-3 max-w-xl">
  <ul>
    <li id="<%= dom_id(technology) %>" class="flex justify-between">
      <span>
        <%= technology.name %>
      </span>
      <span>
        <%= button_to dashboard_technology_path(technology.id), method: :delete,
                      form: { data: { turbo_confirm: "Are you sure?" } } do %>
          <%= heroicon "x-circle",
                       options: {
                         class: "p-1 w-6 h-6 inline-block text-white bg-red-600 rounded cursor-pointer",
                         disable_default_class: true
                       }
          %>
        <% end %>
      </span>
    </li>
  </ul>
</div>