<%= turbo_stream.append "technologies-list",
                        partial: "dashboard/technologies/technology",
                        locals: { technology: @technology } %>

<%= turbo_stream.update "new-technology",
                        partial: "dashboard/technologies/form",
                        locals: { technology: Technology.new } %>