<ul class="technologies" id="new-technology">
  <%= render partial: "form", locals: { technology: Technology.new } %>
</ul>
<ul id="technologies-list" class="technologies">
  <%= render partial: "dashboard/technologies/technology", collection: @technologies %>
</ul>
