<% if attachments.attached? %>
  <% attachments.includes(:blob).each do |attachment| %>
    <!-- Show attachment -->
    <% if attachment.image? %>
      <div data-controller="modal" data-modal-allow-background-close="false">
        <!-- Modal Trigger -->
        <span class="mt-2 mr-2" data-action="click->modal#open">
          <%= image_tag attachment, class: "w-24", role: "button" %>
        </span>
        <!-- Image Attachment Modal -->
        <%= render partial: "admin/shared/attachment_image_modal", locals: { attachment: attachment } %>
      </div>
    <% elsif attachment.audio? %>
      <div>
        <audio controls>
          <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>">
        </audio>
        <br>
        <%= link_to "Delete audio", purge_attachment_path(attachment), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% elsif attachment.video? %>
      <div class="mr-4">
        <video controls>
          <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>">
        </video>
        <br>
        <%= link_to "Delete video", purge_attachment_path(attachment), method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </div>
    <% else %>
      <div class="flex items-center">
        <span class="mr-2">
          <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
        </span>
        <%= button_to purge_attachment_path(attachment), :method => "delete", remote: true,
                      class: "text-red-800 mr-4 pt-2", data: { confirm: "Are you sure?" } do %>
          <%= heroicon "trash", options: { class: "w-4 text-red-900", disable_default_class: true } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
