<% if notice || alert %>
  <div
    data-controller="notification"
    data-notification-delay-value="2000"
    class="text-center transition transform duration-1000 fixed bottom-10 right-2 p-4 rounded-md shadow
          <%= notice ? 'bg-green-500' : 'bg-red-500' %>"
    data-transition-enter-from="opacity-0 translate-x-8"
    data-transition-enter-to="opacity-100 translate-x-0"
    data-transition-leave-from="opacity-100 translate-x-0"
    data-transition-leave-to="opacity-0 translate-x-8"
    >
    <div class="flex justify-between items-center">
      <div class="w-full text-white text-center mr-4">
        <%= notice %>
        <%= alert %>
      </div>
      <div>
        <button data-action="notification#hide">
          <%= heroicon "x-circle", options: { class: "pb-1 w-5 h-5 inline-block text-white", disable_default_class: true } %>
        </button>
      </div>
    </div>
  </div>
<% end %>