<% if object.errors.any? %>
  <div class="flex p-4 mt-2 mb-4 border-t-4 border-red-500 bg-red-200 text-red-700">
    <ul role="alert">
      <% object.errors.full_messages.each do |message| %>
        <li class="error-message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>