<div class="blog-posts-list flex flex-col justify-center items-center mx-auto w-full max-w-3xl my-16 p-16">
  <% @blog_posts.each do |blog_post| %>
    <div class="blog-post-summary">
      <%= link_to website_show_blog_path(blog_post) do %>
        <%= blog_post.title %>
      <% end %>
    </div>
  <% end %>
</div>