<div
  class="blog-post relative isolate overflow-hidden max-w-3xl mx-auto md:px-6 py-14 sm:py-12 lg:overflow-visible lg:px-0
         md:mt-32"
>
  <h2 class="mb-6 font-bold"><%= @blog_post.title %></h2>
  <div class="mt-4 mb-8">
    <% @blog_post.tags.each_with_index do |tag| %>
      <%= " <span class='py-0.5 px-1 bg-blue-100 rounded'>#{tag.name}</span>".html_safe %>
    <% end %>
  </div>
  <p><%= @blog_post.body %></p>
</div>
