<%= simple_form_for [:dashboard, @portfolio], html: { class: "p-4" }, local: true do |f| %>
  <%= render "shared/form_errors", object: @portfolio %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="w-full flex items-center gap-4">
    <div class="w-96">
      <%= f.text_field :title, class: "form-field", placeholder: "Title of the project" %>
    </div>
    <div class="w-96">
      <%= f.text_field :subtitle, class: "form-field", placeholder: "Subtitle" %>
    </div>
    <div class="flex items-center">
      <%= f.check_box :published, as: :boolean, label: true,
                        input_html: { class: "form-field" } %>
      <div class="flex flex-col ml-2">
        <label for="published" class="ml-1">
          Publish this project
        </label>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <%= f.text_area :body, class: "form-field", rows: 5 %>
  </div>
  <%= f.input :live_link, label: false, placeholder: "project's live link",
                  wrapper_html: { class: "mt-3" },
                  input_html: { class: "form-field" } %>
  <%= f.input :staging_link, label: false, placeholder: "project's staging link",
                  wrapper_html: { class: "mt-3" },
                  input_html: { class: "form-field" } %>
  <div class="flex items-center mt-3">
    <div class="flex mt-3">
      <label for="image" class="mr-2 text-white">Image:</label>
      <%= f.file_field :image, class: "text-white" %>
    </div>
    <%= f.input :position, required: true,
                  wrapper_html: { class: "mt-2" },
                  input_html: { class: "form-select-field w-20 ml-2" } %>
  </div>
  <div class="mt-4">
    <div class="flex gap-2">
      <%= f.input :technology_ids, as: :select,
                  collection: Technology.all.collect { |t| [t.name, t.id] },
                  include_blank: false, label: "Select technologies used during this project",
                  wrapper_html: { class: "flex flex-col mr-4 w-full" },
                  label_html: { class: "form-label" },
                  error_html: { class: "form-field-error" },
                  input_html: { class: "form-select-field w-full", multiple: true,
                                data: { controller: 'slim-select', slim_select_target: 'field' }} %>
    </div>
  </div>
  <%= f.submit "Save Portfolio", class: "submit-btn ml-2 mt-4" %>
<% end %>
