<div class="mb-10">
  <div class="flex flex-col md:flex-row justify-between mb-4 <%= portfolio.position.even? ? 'md:flex-row-reverse' : '' %>">
    <div class="w-1/4 p-2 text-center">
      <% if portfolio.image.attached? %>
        <%= image_tag portfolio.image.variant(:thumb) %>
        <%= button_to purge_attachment_path(portfolio.image.id), method: :delete, remote: true,
            class: "text-red-800 mr-4 pt-2", form: { data: { turbo_confirm: 'Are you sure?' } } do %>
          <%= heroicon "trash", options: { class: "w-4 text-red-900", disable_default_class: true } %>
        <% end %>
      <% else %>
        <%= image_tag "http://via.placeholder.com/300x200"  %>
      <% end %>
    </div>
    <div class="w-3/4 p-2">
      <div class="text-left">
        <div class="flex items-center">
          <h3 class="text-xl"><%= portfolio.title %></h3>
          <span class="ml-4">
            <%= link_to edit_dashboard_portfolio_path(portfolio), class: "admin-link" do %>
              <%= heroicon "pencil-square", options: { class: "w-4 text-blue-600 hover:text-blue-300",
                                        disable_default_class: true } %>
            <% end %>
          </span>
        </div>
        <h6><%= portfolio.subtitle %></h6>
        <p><%=h truncate(portfolio.body, :length => 245) %></p>
      </div>
      <div class="flex justify-between items-center <%= portfolio.position.even? ? 'flex-row-reverse' : '' %> mt-4">
        <div>
          <% portfolio.technologies.limit(5).each do |tech| %>
            <span class="font-small text-xs inline-block py-1 px-2 rounded text-slate-900 bg-slate-300 mr-1">
              <%= tech.name %>
            </span>
          <% end %>
        </div>
        <div class="flex gap-x-2 <%= portfolio.position.even? ? '' : 'justify-end' %>">
          <%= link_to "Show - ", dashboard_portfolio_path(portfolio), class: "text-sm text-amber-900 hover:underline" %>
          <%= link_to "View on Website - ", website_portfolio_path(portfolio), class: "text-sm text-amber-900 hover:underline", target: "_blank" if portfolio.published? %>
          <%= link_to "Live", portfolio.live_link, class: "text-sm text-amber-900 hover:underline", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>
