<div class="flex-col p-4 pt-7 mt-3">
  <div class="flex justify-between items-center mb-2 text-sm font-medium">
    <div>
      <h1>Portfolio</h1>
    </div>
    <div>
      <%= link_to "+ New portfolio", new_dashboard_portfolio_path,
          class: "ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
    </div>
  </div>
</div>
<div class="flex-col p-4 pt-7 mt-3">
  <div class="mx-auto max-w-3xl">
    <%= render  @portfolios %>
  </div>
</div>
