<div class="mb-20">
  <div class="flex flex-col md:flex-row justify-between mb-4 <%= portfolio.position.even? ? 'md:flex-row-reverse' : '' %>">
    <div class="md:w-1/4 p-2 text-center">
      <% if portfolio.image.attached? %>
        <%= image_tag portfolio.image.variant(:thumb) %>
      <% else %>
        <%= image_tag "http://via.placeholder.com/300x200"  %>
      <% end %>
    </div>
    <div class="md:w-3/4 p-2">
      <div class="text-left">
        <h3 class="text-2xl font-light"><%= portfolio.title %></h3>
        <h6 class="text-md italic mb-2"><%= portfolio.subtitle %></h6>
        <p><%=h truncate(portfolio.body, :length => 245) %></p>
      </div>
      <div class="flex flex-col md:flex-row justify-between items-center <%= portfolio.position.even? ? 'flex-row-reverse' : '' %> mt-4">
        <div>
          <% portfolio.technologies.limit(5).each do |tech| %>
            <span class="font-small text-xs inline-block py-1 px-2 rounded text-slate-900 bg-slate-300 mr-1">
              <%= tech.name %>
            </span>
          <% end %>
        </div>
        <div class="flex gap-x-2 <%= portfolio.position.even? ? '' : 'justify-end' %> mt-4 md:mt-0">
          <%= link_to "View", website_portfolio_path(portfolio), class: "text-sm text-amber-900 hover:underline" %>
          <%= link_to "Staging", portfolio.staging_link, target: "_blank", class: "text-sm text-amber-900 hover:underline" if portfolio.staging_link.present? %>
          <%= link_to "Live", portfolio.live_link, target: "_blank", class: "text-sm text-amber-900 hover:underline" if portfolio.live_link.present? %>
        </div>
      </div>
    </div>
  </div>
</div>
