<div class="flex flex-col justify-center items-center text-center mx-auto max-w-3xl my-16 p-16">
  <div class="mt-22">
    <h1 class="text-4xl font-light">Some Things I've Built</h1>
    <p class="mt-6">
      List of few projects I worked on below.
    </p>
    <p>
      With details about what was done and what tools were used.
    </p>
  </div>
  <div class="mt-10">
    <%= link_to  "Let's work on yours", new_website_contact_path,
        class: "web-submit-btn" %>
  </div>
</div>
<div class="flex flex-col justify-center items-center text-center mx-auto max-w-4xl md:my-16 md:p-16">
  <%= render  @portfolios %>
</div>
