<div class="my-32 px-2 text-slate-900">
  <div class="mx-auto max-w-4xl p-4">
    <div class="flex justify-center">
      <% if @portfolio.image.attached? %>
        <%= image_tag @portfolio.image %>
      <% else %>
        <%= image_tag "http://via.placeholder.com/600x400" %>
      <% end %>
    </div>
    <div class="flex justify-end items-center gap-x-4 mt-2">
      <div>
        <% if @portfolio.staging_link.present? %>
          See staging project
          <%= link_to @portfolio.staging_link, target: "_blank", class: "text-amber-900" do %>
            <div style="width: 30px;"><%= heroicon "arrow-long-right", options: { class: "text-amber-900" } %></div>
          <% end %>
        <% end %>
      </div>
      <div>
        <% if @portfolio.live_link.present? %>
          See live project
          <%= link_to @portfolio.live_link, target: "_blank", class: "text-amber-900" do %>
            <div style="width: 30px;"><%= heroicon "arrow-long-right", options: { class: "text-amber-900" } %></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <h1 class="mt-20 mb-3 text-xl font-semibold"><%= @portfolio.title %></h1>
    <div class="mb-3">
      <em><%= @portfolio.subtitle %></em>
    </div>
    <p><%= @portfolio.body %></p>
    <h3 class="mt-10 mb-2 text-base font-semibold">Technologies Used:</h3>
    <% @portfolio.technologies.each do |t| %>
      <span class="font-small text-xs inline-block py-1 px-2 rounded bg-slate-300 mr-1">
        <%= t.name %>
      </span>
    <% end %>

    <div class="flex gap-x-3 items-center mt-10">
      <% if @portfolio.photos.attached? %>
        <% @portfolio.photos.includes(:blob).each do |photo| %>
          <%= link_to show_attachment_path(photo), class: "", data: { turbo_frame: "modal" } do %>
            <%= image_tag photo, class: "w-32" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
