<%= turbo_frame_tag(dom_id(@user)) do %>
  <%= simple_form_for [:admin, @user], html: { class: "" }, local: true do |f| %>
    <%= render "shared/form_errors", object: @user %>

    <div class="flex mt-3">
      <%= f.input :first_name, label: false, placeholder: "First name",
                  wrapper_html: { class: "mr-3" },
                  input_html: { class: "form-field" } %>
      <%= f.input :last_name, label: false, placeholder: "Last name",
                  input_html: { class: "form-field" } %>
    </div>
    <div class="flex gap-x-2 mt-3">
      <%= f.input :email, label: false, placeholder: "Email",
                  wrapper_html: { class: "" },
                  error_html: { class: "error-message" },
                  input_html: { class: "form-field" } %>
    </div>
    <div class="flex mt-3">
      <%= f.input :password, label: false, placeholder: "Password",
                  wrapper_html: { class: "mr-4" },
                  error_html: { class: "error-message" },
                  input_html: { class: "form-field" } %>
      <%= f.input :password_confirmation, label: false, placeholder: "Password confirmation",
                  error_html: { class: "error-message" },
                  input_html: { class: "form-field" } %>
    </div>
    <div class="flex gap-2 mt-5">
      <label for="avatar" class="mr-2">Avatar:</label>
      <%= f.file_field :avatar, class: "text-white" %>
    </div>
    <div class="w-full flex justify-between items-center flex-wrap mt-6">
      <%= f.button :submit, "Save", class: "submit-btn" %>
    </div>
  <% end %>
<% end %>
