<div class="p-8 pt-7 mt-3">
  <div class="flex justify-between items-center mb-2 text-sm font-medium">
    <div>Profile</div>
    <div class="flex">
      <%= button_to "Delete", dashboard_user_path(@user), method: :delete, class: "text-red-800",
                    form: { data: { turbo_confirm: "Are you sure you want to delete this user?" } } %>
    </div>
  </div>
  <div class="px-6 py-8 ring-1 ring-slate-900/5 shadow-xl rounded">
    <%= turbo_frame_tag(dom_id(@user)) do %>
      <%= link_to edit_dashboard_user_path(@user) do %>
        <div class="flex gap-6">
          <div class="w-44 text-center">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class: "" %>
            <% else %>
              <%= image_tag "user-profile-avatar.png", class: "h-32 w-32 rounded-full"  %>
            <% end %>
          </div>
          <div>
            <h3 class="text-base font-medium tracking-tight"><%= @user.full_name %></h3>
            <p class="mt-2 text-sm"><%= @user.email %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>