  <%= simple_form_for [:admin, @contact], html: { class: "pb-6 w-full" }, local: true do |f| %>
  <%= render "shared/form_errors", object: @contact, f: f %>
  <div class="flex gap-16 mt-6">
    <%= f.input :name, label: false, placeholder: "Full Name",
                  wrapper_html: { class: "" },
                  error_html: { class: "text-sm font-medium text-red-700" },
                  input_html: { class: "basic-field" } %>
    <%= f.input :origin, as: :select, label: false, placeholder: "Origin de la prise de contact",
                  collection: Contact.origins.keys.collect { |s| [s.humanize, s] },
                  wrapper_html: { class: "" },
                  input_html: { class: "select-field" } %>
  </div>
  <div class="flex gap-6 mt-4">
    <%= f.input :email, label: false, placeholder: "nom.prenom@mail.com",
                  wrapper_html: { class: "" },
                  error_html: { class: "text-sm font-medium text-red-700" },
                  input_html: { class: "basic-field" } %>
    <%= f.input :phone_number, label: false, placeholder: "06 00 00 00 00",
                  wrapper_html: { class: "" },
                  input_html: { class: "basic-field" } %>
  </div>
  <div>
    <%= f.input :message, as: :rich_text_area, label: false, required: true,
                  wrapper_html: { class: "mt-6" },
                  label_html: { class: "" },
                  error_html: { class: "text-sm font-medium text-red-700" },
                  input_html: { class: "basic-field" } %>
  </div>
  <%= f.button :submit, "Enregistrer", class: "text-sm md:text-base mt-4 py-1 px-2 transition duration-300 border
                                            text-white hover:text-orange-800 bg-orange-900 hover:bg-white
                                            cursor-pointer" %>
<% end %>
