<div class="w-full md:flex justify-between items-center mt-2 p-3 bg-slate-900">
  <div>
    <h2 class="text-slate-300 font-bold text-2xl">Contacts</h2>
  </div>
  <div>
    <%= link_to "+ Contact", new_admin_contact_path,
        class: "text-sm md:text-base py-2 px-2 bg-orange-900 text-white transition duration-300 border
                border-orange-800 hover:text-orange-800 hover:bg-white" %>
  </div>
</div>
<table class="w-full table-auto text-slate-300 bg-slate-900 mt-5 px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
  <thead class="border-b border-slate-300">
    <tr class="text-left text-base font-medium tracking-tight">
      <th class="p-3">Name</th>
      <th class="hidden md:table-cell">Email</th>
      <th class="hidden md:table-cell">Origin</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr class="text-sm">
        <td class="p-3"><%= link_to contact.name, admin_contact_path(contact), class: "hover:text-orange-800" %></td>
        <td class="hidden md:table-cell">
          <%= link_to contact.email, admin_contact_path(contact), class: "hover:text-orange-800" %>
        </td>
        <td class="hidden md:table-cell"><%= contact.contact_origin %></td>
        <td><%= contact.created_at.strftime("%B %d, %Y - %H:%M") %></td>
        <td class="flex justify-end pt-3 pr-2">
          <%= link_to edit_admin_contact_path(contact), class: "mr-1" do %>
            <%= heroicon "pencil-square", options: { class: "w-4 text-blue-600 hover:text-blue-300",
                                        disable_default_class: true } %>
          <% end %>
          <%= button_to admin_contact_path(contact), method: :delete, class: "text-red-700",
                                             form: { data: { turbo_confirm: "Do you want to delete this contact?" } } do %>
            <%= heroicon "trash", options: { class: "w-4 text-red-900 hover:text-red-500", disable_default_class: true } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
