<div class="bg-slate-900 text-slate-300 p-8 pt-7 mt-3">
  <div class="flex justify-between items-center mb-2 text-sm font-medium">
    <div>Contact <%= @contact.contact_origin %></div>
    <div class="flex gap-x-4">
      <%= render(Atoms::Links::LinkComponent.new(link_path: edit_admin_contact_path(@contact.id)).with_content("Editer"))  %>
      <%= button_to "Supprimer", admin_contact_path(@contact), method: :delete, class: "text-red-800",
                      form: { data: { turbo_confirm: "Are you sure you want to delete this contact?" } } %>
    </div>
  </div>
  <div class="bg-slate-800 px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
    <h3 class="mt-2 text-base font-medium tracking-tight"><%= @contact.name %></h3>
    <p class="mt-2 text-sm"><%= @contact.email %></p>
    <p class="mt-2 text-sm"><%= @contact.phone_number %></p>
    <div class="mt-6 text-sm">
      <h3 class="text-lg mt-4 mb-2 font-semibold">Message: </h3>
      <%= @contact.message %></div>
  </div>
</div>
