<%= turbo_frame_tag(dom_id(@blog_post)) do %>
  <%= simple_form_for [:dashboard, @blog_post], html: { class: "" }, local: true do |f| %>
    <%= render "shared/form_errors", object: @blog_post %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.input :title, label: false, placeholder: "Title",
                wrapper_html: { class: "mt-5" },
                error_html: { class: "form-field-error" },
                input_html: { class: "form-field" } %>
    <div class="flex gap-4 items-center">
      <%= f.input :status, as: :select,
                  collection: BlogPost.statuses.keys.collect { |s| [s.humanize, s] },
                  include_blank: false, prompt: 'Please select a status',
                  wrapper_html: { class: "mt-4" },
                  label_html: { class: "form-label" },
                  input_html: { class: "form-select-field" } %>
      <%= f.input :tag_ids, as: :select,
                  collection: Tag.all.collect { |pc| [pc.name, pc.id] },
                  include_blank: false, prompt: "Select article topics",
                  label: "Select tags: ",
                  wrapper_html: { class: "w-full flex flex-col mt-4 mr-4" },
                  error_html: { class: "form-field-error" },
                  label_html: { class: "form-label" },
                  input_html: { class: "select-field", multiple: true,
                                data: { controller: 'slim-select', slim_select_target: 'field' } } %>
    </div>
    <%= f.input :body, as: :rich_text_area, label: false, required: true,
                wrapper_html: { class: "mt-6" },
                label_html: { class: "" },
                error_html: { class: "form-field-error" },
                input_html: {
                  class: "form-field" } %>
    <%= f.button :submit, "Save", class: "submit-btn mt-5" %>
  <% end %>
<% end %>