<div class="relative isolate overflow-hidden px-6 py-14 sm:py-12 lg:overflow-visible lg:px-0">
  <% @blog_posts.each do |blog_post| %>
    <div>
      <%= link_to dashboard_blog_post_path(blog_post) do %>
        <%= blog_post.title %>
      <% end %>
    </div>
  <% end %>
</div>