<div class="blog-post relative isolate overflow-hidden max-w-4xl mx-auto px-6 py-14 sm:py-12 lg:overflow-visible lg:px-0">
  <%= turbo_frame_tag(dom_id(@blog_post)) do %>
    <%= link_to edit_dashboard_blog_post_path(@blog_post) do %>
      <h2 class="mb-6 font-bold">
        <%= @blog_post.title %>
      </h2>
      <div class="mt-4 mb-8">
        <div>
          <%= @blog_post.status.humanize %>
          -
          <% @blog_post.tags.each_with_index do |tag| %>
            <%= " <span class='py-0.5 px-1 bg-blue-100 rounded'>#{tag.name}</span>".html_safe %>
          <% end %>
        </div>
      </div>
      <p>
        <%= @blog_post.body %>
      </p>
    <% end %>
  <% end %>
</div>
