<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="md:mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag "logo_without_bg.png", alt: "Logo image", class: "mx-auto w-auto" %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }) do |f| %>
      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
                          class: "px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset
                                  ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                                  focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>
      <div class="field">
        <div class="flex items-center justify-between">
          <%= f.label :password, class: "block text-sm font-medium leading-6 text-gray-900" %><br/>
          <div class="text-sm">
            <a href="<%= new_user_password_path %>" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <%= f.password_field :password, autocomplete: "current-password",
                               class: "px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                                       ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                                       focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign in",
                     class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold
                             leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline
                             focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a href="<%= new_user_registration_path %>" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">
        Create an account
      </a>
    </p>
  </div>
</div>
