<%= form_with(model: [:dashboard, tag], class: "flex max-w-xl") do |form| %>
  <%= form.text_field :name, required: true, placeholder: "Enter description", autofocus: true,
  class: "form-field" %>
  <%= form.submit "Create", class: "submit-btn ml-2" %>
<% end %>