<div class="mt-3 max-w-xl">
  <ul>
    <li id="<%= dom_id(tag) %>" class="flex justify-between">
      <span class="flex justify-between">
        <%= tag.name %>
      </span>

      <span class="flex gap-2">
        <%= button_to dashboard_tag_path(tag), method: :delete,
                      form: { data: { turbo_confirm: "Are you sure?" } } do %>
          <%= heroicon "x-circle", options: { class: "p-1 w-6 h-6 inline-block text-white bg-red-600 rounded cursor-pointer",
                                              disable_default_class: true } %>
        <% end %>
      </span>
    </li>
  </ul>
</div>
