<%= turbo_stream.append "tags-list",
                        partial: "dashboard/tags/tag",
                        locals: { tag: @tag } %>

<%= turbo_stream.update "new-tag",
                        partial: "dashboard/tags/form",
                        locals: { tag: Tag.new } %>