@import "base.css";
@import "website.scss";
@import "slimselect.css";
@import "actiontext.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------------- DASHBOARD ------------------------------------------------------ */
.form-field-error {
    @apply bg-red-500 text-white hover:bg-red-700 rounded px-1
}

.form-label {
    @apply text-slate-600 block
}

.form-field {
    @apply w-full px-2 block rounded border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
    placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6
}

.form-select-field {
    @apply focus:outline-none focus:ring-2 focus:ring-sky-600 text-gray-700 py-1 px-3 border border-gray-300
    bg-white rounded cursor-pointer
}

.submit-btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer
}

.cancel-btn {
    @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer
}

.edit-btn {
    @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded cursor-pointer
}

/* -------------------------------------------------- WEBSITE ------------------------------------------------------- */
.web-submit-btn {
    @apply text-sm md:text-base py-2 px-4 transition duration-300 border text-white bg-orange-900 hover:bg-white
           hover:text-orange-800 cursor-pointer rounded
}