:root {
    --bold-font-family: "LibreFranklin-Bold";
    --light-font-family: "LibreFranklin-Light";
    --medium-font-family: "LibreFranklin-Medium";
    --regular-font-family: "LibreFranklin-Regular";
    --semi-bold-font-family: "LibreFranklin-SemiBold";
    --font-size-xxl: 34px;
}


html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--medium-font-family);
}

h1, h2 {
    font-family: var(--bold-font-family);
}

span {
    font-family: var(--light-font-family);
}