<div class="my-32 px-2 flex flex-col justify-center">
  <h2 class="my-10 text-xl text-center">Let's tchat.</h2>
  <%= simple_form_for [:website, @contact], html: { class: "w-full max-w-xl mx-auto" }, local: true do |f| %>
    <%= f.hidden_field :origin, value: "website" %>
    <%= f.input :name, label: false, placeholder: "Full name",
                wrapper_html: { class: "form-field-wrapper" },
                error_html: { class: "form-field-error" },
                input_html: {
                  class: "form-field" } %>
    <div class="flex gap-x-2 items-center mt-4">
      <%= f.input :email, label: false, placeholder: "john.smith@mail.com",
                  wrapper_html: { class: "w-full" },
                  error_html: { class: "form-field-error" },
                  input_html: {
                    class: "form-field" } %>
      <%= f.input :phone_number, label: false, placeholder: "06 00 00 00 00",
                    wrapper_html: { class: "" },
                    error_html: { class: "form-field-error" },
                    input_html: {
                      class: "form-field" } %>
    </div>
    <div>
      <%= f.input :message, as: :rich_text_area, label: false, required: true,
                    wrapper_html: { class: "mt-6" },
                    error_html: { class: "form-field-error" },
                    input_html: {
                      class: "form-field" } %>
    </div>
    <div class="flex justify-end mt-5">
      <%= f.button :submit, "Send", class: "web-submit-btn" %>
    </div>
  <% end %>
</div>
