<%= turbo_frame_tag(dom_id(@user)) do %>
  <%= simple_form_for [:admin, @user], html: { class: "text-slate-900" }, local: true do |f| %>
    <div class="flex mt-3">
      <%= f.input :first_name, label: false, placeholder: "First name",
                  wrapper_html: { class: "mr-3" },
                  input_html: { class: "basic-field" } %>
      <%= f.input :last_name, label: false, placeholder: "Last name",
                  input_html: { class: "basic-field" } %>
    </div>
    <div class="flex gap-x-2 mt-3">
      <%= f.input :email, label: false, placeholder: "Email",
                  wrapper_html: { class: "" },
                  error_html: { class: "error-message" },
                  input_html: { class: "basic-field" } %>
    </div>
    <div class="flex items-center mt-4">
      <%= f.input :admin, label: false, placeholder: "Roles",
                  wrapper_html: { class: "mr-4" },
                  input_html: { class: "select-field" } %>
    </div>
    <div class="flex mt-3">
      <%= f.input :password, label: false, placeholder: "Password",
                  wrapper_html: { class: "mr-4" },
                  error_html: { class: "error-message" },
                  input_html: { class: "basic-field" } %>
      <%= f.input :password_confirmation, label: false, placeholder: "Password confirmation",
                  error_html: { class: "error-message" },
                  input_html: { class: "basic-field" } %>
    </div>
    <div class="flex mt-5">
      <label for="avatar" class="mr-2 text-white">Avatar:</label>
      <%= f.file_field :avatar, class: "text-white" %>
    </div>
    <%= f.button :submit, class: "submit-btn mt-6" %>
  <% end %>
<% end %>
