<ul role="list" class="divide-y divide-gray-100">
  <% @users.each do |user| %>
    <%= link_to admin_user_path(user) do %>
      <li class="flex justify-between gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4">
      <%= image_tag "user-profile-avatar.png", alt: "user-profile-avatar image",
                    class: "h-12 w-12 flex-none rounded-full bg-gray-50" %>
      <div class="min-w-0 flex-auto">
        <p class="text-sm font-semibold leading-6 text-gray-300"><%= user.full_name %></p>
        <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= user.email %></p>
      </div>
    </div>
    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
      <p class="text-sm leading-6 text-white"><%= user.admin ? 'Admin' : '' %></p>
      <p class="mt-1 text-xs leading-5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z"><%= user.last_sign_in_at %></time></p>
    </div>
  </li>
    <% end %>
  <% end %>
</ul>
