<!DOCTYPE html>
<html lang="en">
<head>
  <title>CRUD@Cloud</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="https://crud-in-the.cloud/">
  <meta name="description" content="Ruby on Rails is fun">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffb230">
  <meta name="msapplication-TileColor" content="#ffb230">
  <meta name="theme-color" content="#ffb230">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>
<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <%= image_tag "logo.png", alt: "Logo image", class: "mx-auto w-auto h-8 w-8 rounded" %>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="<%= dashboard_path %>" class="<%= controller_name == 'pages' ? 'bg-gray-900 ' : '' %>
                                text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">
                Dashboard
              </a>
              <a href="<%= dashboard_tasks_path %>"
                 class="<%= controller_name == 'tasks' ? 'bg-gray-900 ' : '' %> text-gray-300 hover:bg-gray-700
                        hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                Todos
              </a>
              <a href="<%= dashboard_blog_posts_path %>"
                 class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                Blog Posts
              </a>
              <a href="<%= dashboard_portfolios_path %>"
                 class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                Portfolio
              </a>
              <a href="<%= dashboard_technologies_path %>"
                 class="<%= controller_name == 'technologies' ? 'bg-gray-900 ' : '' %> text-gray-300 hover:bg-gray-700
                        hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                Technologies
              </a>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <button type="button"
                    class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none
                           focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">View notifications</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
              </svg>
            </button>

            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div data-controller="dropdown" class="relative">
                <button type="button" data-action="dropdown#toggle click@window->dropdown#hide"
                        class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none
                               focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">Open user menu</span>
                  <% if current_user.avatar.attached? %>
                    <%= image_tag current_user.avatar.variant(:thumb), class: "h-8 w-8 rounded-full" %>
                  <% else %>
                    <%= image_tag "user-profile-avatar.png", class: "h-8 w-8 rounded-full" %>
                  <% end %>
                </button>

                <div
                  data-dropdown-target="menu"
                  class="hidden transition transform origin-top-right absolute right-0
                           absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1
                           ring-black ring-opacity-5 focus:outline-none"
                  data-transition-enter-from="opacity-0 scale-95"
                  data-transition-enter-to="opacity-100 scale-100"
                  data-transition-leave-from="opacity-100 scale-100"
                  data-transition-leave-to="opacity-0 scale-95"
                  role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
                >
                  <a href="<%= dashboard_user_path(current_user) %>" data-action="dropdown#toggle"
                     class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">
                    Your Profile
                  </a>
                  <% if current_user.admin? %>
                    <a href="<%= admin_path %>" data-action="dropdown#toggle"
                       class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                       id="user-menu-item-1">Admin</a>
                  <% end %>
                  <!--                  <a href="#" data-action="dropdown#toggle"-->
                  <!--                     class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">-->
                  <!--                    Settings-->
                  <!--                  </a>-->
                  <%= button_to "Sign out", destroy_user_session_path, method: :delete,
                                class: "hover:text-red-700 text-red-500 text-sm py-2 px-4 rounded inline-flex items-center" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden" data-controller="dropdown">
          <!-- Mobile menu button -->
          <button type="button" data-action="dropdown#toggle click@window->dropdown#hide"
                  class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400
                         hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white
                         focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
          <!-- Mobile menu, show/hide based on menu state. -->
          <div data-dropdown-target="menu"
               class="bg-gray-800 md:hidden hidden transition transform origin-top-right absolute right-0"
               data-transition-enter-from="opacity-0 scale-95"
               data-transition-enter-to="opacity-100 scale-100"
               data-transition-leave-from="opacity-100 scale-100"
               data-transition-leave-to="opacity-0 scale-95">
            <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="#" data-action="dropdown#toggle"
                 class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">
                Admin
              </a>
              <a href="<%= dashboard_tasks_path %>" data-action="dropdown#toggle"
                 class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                Todos
              </a>
              <a href="<%= dashboard_portfolios_path %>" data-action="dropdown#toggle"
                 class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                Portfolio
              </a>
              <a href="<%= dashboard_technologies_path %>" data-action="dropdown#toggle"
                 class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                Technologies
              </a>
            </div>
            <div class="border-t border-gray-700 pb-3 pt-4">
              <div class="flex items-center px-5">
                <div class="flex-shrink-0">
                  <% if current_user.avatar.attached? %>
                    <%= image_tag current_user.avatar.variant(:thumb), class: "h-8 w-8 rounded-full" %>
                  <% else %>
                    <%= image_tag "user-profile-avatar.png", class: "h-8 w-8 rounded-full" %>
                  <% end %>
                </div>
                <div class="ml-3">
                  <div class="text-base font-medium leading-none text-white"><%= current_user.full_name %></div>
                  <div class="text-sm font-medium leading-none text-gray-400"><%= current_user.email %></div>
                </div>
                <button type="button" class="relative ml-auto flex-shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">View notifications</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
                  </svg>
                </button>
              </div>
              <div class="mt-3 space-y-1 px-2">
                <a href="<%= dashboard_user_path(current_user) %>" data-action="dropdown#toggle"
                   class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">
                  Your Profile
                </a>
                <a href="<%= admin_path %>" data-action="dropdown#toggle"
                   class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">
                  Admin
                </a>
                <!--                <a href="#" data-action="dropdown#toggle"-->
                <!--                   class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">-->
                <!--                  Settings-->
                <!--                </a>-->
                <%= button_to "Sign out", destroy_user_session_path, method: :delete,
                              class: "block rounded-md w-100 px-3 py-2 text-base font-medium text-red-500 hover:bg-gray-700 hover:text-red-600" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <header class="bg-white shadow">
    <div class="flex justify-between align-center mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%= controller_name.titleize %></h1>
      <div>
        <%= link_to @set_btn_link[0], @set_btn_link[1], class: "#{@set_btn_link[2]}" %>
      </div>
    </div>
  </header>
  <main>
    <div class=" text-slate-900 mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <%= render "shared/flash_message" %>
      <%= yield %>
    </div>
  </main>
</div>
</body>
</html>
